:root {
	--success: var(--color-green-700);
	--success-lighter: var(--color-green-200);
	--danger: var(--color-red-400);
	--danger-lighter: var(--color-red-100);

	/* Radius */
	--border-radius-s: 4px;
	--border-radius-m: 8px;
}
