header[role="banner"] {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 48px;
	backdrop-filter: blur(3px);
}

header[role="banner"] nav[role="navigation"] {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 700;

	@media screen and (width >= 768px) {
		margin-inline: var(--spacing-10);
	}

	& > ul {
		display: flex;
		gap: var(--spacing-1);
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& a {
		display: inline-block;
		padding: var(--spacing-2) var(--spacing-1);
		color: var(--color-white);
		text-shadow: 2px 2px 2px var(--color-black);
		text-transform: uppercase;
	}
}
