@import "../components/header.css";

:root {
	--auth-register-surface: var(--color-black);
	--auth-register-on-surface: var(--color-white);
	--auth-register-account-on-surface: #d4d4d4;
	--auth-register-account-note-on-surface: #999fd1;
	--auth-register-link: #e25e5e;
}

body:has(#page-auth-register) {
	color-scheme: dark;
	background: linear-gradient(to right, rgb(6 18 249 / 80%), rgb(6 18 249));
	font-size: 14px;
}

body:has(
		#page-auth-register > section[aria-roledescription="carousel"][hidden]
	) {
	background: var(--auth-register-surface);
	color: var(--auth-register-on-surface);

	#page-auth-register {
		place-content: center;
		place-items: center;
	}

	.auth-account {
		max-width: 390px;
		padding: 0;
		transition: all 250ms ease-in-out;
	}
}

@media screen and (width >= 768px) {
	body:has(
			#page-auth-register
				> section[aria-roledescription="carousel"][hidden]
		)
		.auth-account {
		padding: var(--spacing-8) var(--spacing-2);
	}
}

#page-auth-register {
	display: flex;
	flex-direction: column;
	height: var(--size-full);
}

.auth-account {
	padding: var(--spacing-1);
	padding-top: var(--spacing-10) !important;
	background: var(--auth-register-surface);
	color: var(--auth-register-on-surface);

	& > * + * {
		margin-top: var(--spacing-3);
	}
}

.auth-account-title {
	font-size: 24px;
}

.auth-account > p {
	color: var(--auth-register-account-on-surface);
}

.auth-account-note {
	color: var(--auth-register-account-note-on-surface) !important;
}

.auth-form {
	display: grid;
	gap: var(--spacing-2);
}

.auth-form-actions {
	display: grid;
	place-items: center;
	gap: var(--spacing-2);
	padding: var(--spacing-2);
}

.auth-form-actions button[type="submit"] {
	width: max-content;
	padding-block: var(--spacing-1);
	padding-inline: var(--spacing-5);
	border: none;
	border-radius: var(--border-radius-m);
	background: linear-gradient(to right, #27317b, #3747b6);
	color: var(--color-white);
}

.auth-form-actions hr {
	--hr-bordered: #3747b6;
	--hr-surface: var(--auth-register-surface);
	--hr-on-surface: var(--auth-register-on-surface);

	width: var(--size-full);
}

.auth-form-actions a {
	color: var(--auth-register-link);
}

.input-group {
	display: grid;
	gap: 1px;
	overflow: clip;
	border-radius: var(--border-radius-m);
}

.input-container {
	display: flex;
	gap: var(--spacing-1);
	padding: var(--spacing-1);
	background: #3c4043;

	& > input {
		flex-grow: 1;
		border: none;
		outline: none;
		background: transparent;
		color: var(--color-white);
	}

	& > input[type="date"]:invalid {
		opacity: 50%;
	}

	& > select {
		flex-grow: 1;
		border: 0;
		outline: none;
		appearance: none;
		background: transparent;
		color: var(--auth-register-on-surface);
	}

	& > select optgroup {
		background: #3c4043;
		color: var(--auth-register-on-surface);
	}

	& > select option {
		background: #3c4043;
		color: var(--auth-register-on-surface);
	}

	& > select option[placeholder] {
		opacity: 50%;
	}
}

section[aria-roledescription="carousel"]:not([hidden]) {
	display: grid;
	place-content: center;
	place-items: center;
	position: relative;
	width: 100%;

	& > .carousel {
		display: flex;
		gap: var(--spacing-2);

		/*
		position: absolute;
		top: 15%;
		right: 0;
		bottom: 15%;
		width: 85%;
		*/

		width: var(--size-full);
		height: var(--size-full);
		padding: var(--spacing-2);
		overflow-x: auto;
		background: var(--color-black);
		box-shadow: -3px 4px 100px var(--color-black);
		scroll-behavior: smooth;
	}

	& > .carousel > img {
		display: inline-block;
		flex-shrink: 0;
		width: var(--size-full);
		height: 100dvh;
		max-height: var(--size-full);
		border-radius: var(--border-radius-m);
		box-shadow: 0 0 var(--spacing-1) var(--color-black);
	}

	& > .carousel > .hide {
		display: none;
	}

	& > .carousel-controls {
		position: absolute;
		right: var(--spacing-2);
		bottom: var(--spacing-5);
		left: var(--spacing-2);
		text-align: center;
	}

	& > .carousel-controls > .toggle-controls {
		position: absolute;
		top: -.5rem;
		left: .5rem;
		border: none;
		border-radius: var(--border-radius-m);
		background: var(--color-white);
		box-shadow: 2px 2px 2px var(--color-black);
		cursor: pointer;
	}

	& > .carousel-controls > .carousel-item {
		display: inline-block;
		width: var(--spacing-8);
		height: var(--spacing-1);
		margin-right: var(--spacing-1);
		transition: padding 250ms ease;
		border-radius: var(--border-radius-m);
		background: rgb(255 255 255 / 75%);
		vertical-align: middle;
		cursor: pointer;

		&:hover {
			padding: var(--spacing-1);
			background: var(--color-white);
		}
	}

	& > .carousel-controls > .carousel-item[aria-selected="true"] {
		padding: var(--spacing-1);
		background: var(--color-white);
	}
}

::-webkit-scrollbar {
	display: none;
}

@media screen and (width >= 850px) {
	#page-auth-register {
		flex-direction: row;
	}
}

@media screen and (width >= 850px) and (width <= 1200px) {
	.auth-account {
		max-width: 45vw;
	}
}

@media screen and (width >= 1200px) {
	.auth-account {
		padding: var(--spacing-8) var(--spacing-10);
	}
}
